/* home */
body {
    margin: 0;
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit", sans-serif;
    word-wrap: break-word;
    min-width: 40em;



}
body h1,h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
}
body p{
   color: hsl(30, 10%, 34%);
   font-size: 16px;
   font-weight: 400;
}
img{
    display: block;
    height: 10%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    border-radius: 20px;
    background-color:hsl(0, 0%, 100%);
    margin: 8% 25%;
}
.main-level2{
    padding: 8%;
    
}
.prepTime{
    
    background:hsl(330, 100%, 98%);
    padding: 2% 0;
    border-radius: 8px;
    
}
.prepTime h3, ul{
    margin: 0;
    padding-left: 3%;
}
.prepTime ul{
    list-style-position: inside;
    padding-left: 4%;
}
.prepTime ul li{
   margin-top: 2%; 
    color: hsl(30, 10%, 34%);

}

.prepTime h3{
    color: hsl(332, 51%, 32%);
    
}
.prepTime span{
    font-weight: 600;
}
.ingredients h2, .instructions h2, .nutrition h2 {
    color: hsl(14, 45%, 36%);
}

.ingredients ul li{
    color: hsl(30, 10%, 34%);   
    text-indent: -0.5em;
    margin: 2% 0;
}
.ingredients ul{
    padding: 2%;
    list-style-position: inside;
    padding-left: 2%;
}

.instructions ol{
    padding: 2%;
    color: hsl(30, 10%, 34%);
    
}
.instructions ol li{
    padding-left: 1%;
    margin: 2% 0;
    
}
.instructions ol li::marker{
     color: hsl(14, 45%, 36%);;
     font-weight: 600;
}
.instructions span{
    font-weight: 600;
}

.nutrition{
    color: hsl(30, 10%, 34%);
}

table{
    width: 100%;
}
.content-table td{
    border-bottom: 1px solid #ddd;
    
}
#table-data{
    
    color:hsl(14, 45%, 36%) ;
    font-weight: 600;
}
td{
    padding: 2% 4%;
}
.no-bottom-divider td{
    border-bottom: none;
}
.attribution{
    padding-left: 1%;
}